<ion-view class="uploading-screen theme-bg">

    <ion-header-bar align-title="center" class="bar-positive my-header">
        <h1 class="title">SeeMee</h1>
    </ion-header-bar>

    <ion-content class="" scroll="false">
        <div class="uploading-section">
            <h4>Your Video is uploading</h4>

            <div class="c100 p75 big">
                <span>75%</span>
                <div class="slice">
                    <div class="my-bar"></div>
                    <div class="fill"></div>
                </div>
            </div>

            <h3>Please Wait</h3>

            <button class="button button-dark" ui-sref="question" >Skip to go Next</button>
        </div>
        

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-positive my-footer">
        <h1 class="title">Don’t leave the app next question come up shortly</h1>
    </ion-footer-bar>

</ion-view>